*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height:59px;
}
.btn a{
    text-decoration: none;
    color: white;
    padding:8px;
    /* margin:0px 10px ; */
}
#navbar{
    /* background-color: black; */
    
    display: flex;
    align-items: center;
    position: relative;
    
}
#navbar ul{
    display: flex;
}

#navbar li{
    padding:20px 25px;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 3px 22px;
    font-family: cursive;
    
    
}

#navbar li a:hover{
    
    color: black;
    background-color: white;
    border-radius: 20px;
    transition:all 1s ease-in-out .5s;

    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:.4;
    
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
     justify-content: center; 
    height: 545px;
}
#home::before{
    content: "";
    background:url('pexels-buro-millennial-1438081.jpg') no-repeat center center/cover;
    position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:.59;
    top: 0;
    left: 0;
    
}
#home h1{
    color: black;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2px;
    font-weight: bold;
    font-size: 40px;
    transition: all .2s ease-in-out;
    
}
.btn{
    padding: 11px 15px;
    border: 2px solid  rgb(247, 112, 22);
    background-color: rgb(247, 112, 22);
    color: white ;
    font-weight: bold;
    margin: 17px;
    font-size: 1rem;
    /* border-radius: 20px; */
    cursor: pointer;
}

.btn a:hover,.btn:hover{
    background-color: white;
    color:  rgb(247, 112, 22);
    transition: .2s ease;
}


#services{
    padding-top: 10px;
    margin: 23px;
    display: flex;
    margin-top:-30px;

}
#services .box{
    /* border: 2px solid brown; */
    /* border: 2px solid brown; */
    padding: 63px 10px;
    margin: 3px 20px;
    border-radius: 20px;
    /* background-color: #ead6d633; */

}
#services .box p{
    font-weight: 400;
    color: #5c5c77;
    font-size: 15px;
    line-height: 1.9;
    font-family: "Poppins", sans-serif;
}

#about{
    /* height: 500px; */
    display: flex;
}
#about h1{
    font-size: 50px;
    padding:40px 60px;
}
#about img{
     width: auto;
    height: auto; 
}
.about-section{
    display: inline-block;
    /* border: 2px solid red; */
    width:45%;
    height:400px;
}

.about-section p{
    font-weight: 400;
    color: #5c5c77;
    font-size: 15px;
    line-height: 1.9;
    font-family: "Poppins", sans-serif;
    padding-left: 60px;
}
.btn1{
    position: absolute;
    padding: 11px 15px;
    border: 1px solid  rgb(247, 112, 22);
    background-color:white;
    color:rgb(247, 112, 22) ;
    /* font-weight: bold; */
    /* margin-top: -10000px; */
    margin: 490px 60px;
    /* margin-right: 400px; */
    font-size: 1.2rem;
    /* border-radius: 20px; */
    cursor: pointer;
}
.btn1:hover{
    border-top:4px solid rgb(247, 112, 22);
    border-bottom:4px solid rgb(247, 112, 22);
    transition: .2s ease-in-out;
}
.btn1 a{
    text-decoration: none;
    color:rgb(247, 112, 22) ;
}






#courses h1{
    font-size: 50px;
    padding:40px 68px;
}



.box-1{
    position: relative;
    border: 2px solid white;
    width:100%;
    height: 550px;
    padding:0px 30px;
    margin: 0px 15px;
    transition:all 1s ease-in-out 1s;


}
.box-1:hover{
    /* box shadow offest-x offset-y blur radius color */

    box-shadow: 5px 7px 30px 5px rgb(243, 240, 216);
    /* width: 26%; */
    /* height: 552px; */
    /* border-radius: 20px; */
    /* width: 356px; */
    border: 2px solid rgb(223, 133, 60);



}



#courses-section{
    display: flex;
    /* padding:10px 20px; */
    padding-left: 60px;
}
.box-1 img{
    /* margin: 0px -30px; */
    width: 100%;
    height: 308px;
}
#courses-section p{
    font-weight: 400;
    color: #5c5c77;
    font-size: 15px;
    line-height: 1.9;
    /* align-items: center;
    text-align: center; */
    font-family: "Poppins", sans-serif;
    /* padding-left: 60px; */
}

.box-1 h2{
    font-weight:2000;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;

    padding-bottom: 10px;
    cursor: pointer;
}
.box-1 h2:hover{
    color: rgb(247, 112, 22);
    font-weight: bold;
    /* font-size: 50px;
    padding:40px 68px; */
}



#courses-section1{
    display: flex;
    /* padding:10px 20px; */
    padding-left: 60px;
    padding-top: 50px;
}
#courses-section1 p{
    font-weight: 400;
    color: #5c5c77;
    font-size: 15px;
    line-height: 1.9;
    font-family: "Poppins", sans-serif;
    /* padding-left: 60px; */
}
.btn2{
    /* position: absolute; */
    padding: 11px 15px;
    border: 1px solid red;
    background-color:black;
    color:rgb(247, 112, 22) ;
    /* font-weight: bold; */
    /* margin-top: -10000px; */
    margin: 6px;
    /* margin-right: 400px; */
    font-size: 1rem;
    /* border-radius: 20px; */
    cursor: pointer;
}
.btn2:hover{
    border-top:4px solid white;
    border-bottom:4px solid white;
    transition: .2s ease-in-out;
    
}
.btn2 a{
    text-decoration: none;
    color:white ;
}
.btn2 a:hover{
    color: red;
}

.btn3{
    display: grid;
    padding: 10px 36px;
    border: 1px solid  rgb(247, 112, 22);
    background-color:white;
    color:rgb(247, 112, 22) ;
    
    margin: 20px auto;
    font-size: 1.2rem;
    cursor: pointer;

}
.btn3:hover{
    border-top:4px solid rgb(247, 112, 22);
    border-bottom:4px solid rgb(247, 112, 22);
    transition: .2s ease-in-out;
}
.btn3 a{
    text-decoration: none;
    color:rgb(247, 112, 22) ;
}


#workshop{
    margin-top: 50px;
    /* margin:-15px; */
    height: 300px;
    background-color:rgb(243 240 216);
    font-family: 'IBM Plex Mono', monospace;
    /* width: 1278px; */
}

.workshop-section h3{
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin:40px; */
    padding:80px;

}
.workshop-section h1{
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    margin:-55px;
    padding-bottom:70px;
    font-size: 45px;
    width: 100%;
    padding-left: 50px;

}


.btn4{
    display: grid;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 15px 40px;
    border-radius: 0;
    font-weight:bold;
    border: 0;
    position: relative;
    z-index: 1;
    transition: .2s ease;
    overflow: hidden;
    white-space: nowrap;
    margin: auto auto;
    

}
.btn4:hover{
    border-top:4px solid rgb(247, 112, 22);
    border-bottom:4px solid rgb(247, 112, 22);
    transition: .2s ease-in-out;
}
.btn4 a{
    text-decoration: none;
    color:rgb(247, 112, 22) ;
}



#events h1{
    font-size: 45px;
    padding:40px 68px;
}


#events-section{
    display: flex;
    /* padding:10px 20px; */
    padding-left: 60px;
}
#events-section p{
    font-weight: bold;
    
    font-size: 25px;
    padding-top: 2px;
    margin-left: -18px;
    /* line-height: 1.9; */
    /* font-family: cursive; */
    /* padding-left: 60px; */
}

.box-2{
    border: 2px solid white;
    width: 100%;
    height: 430px;
    padding:0px 30px;
    margin: 0px 15px;
    transition:all 1s ease-in-out 1s;


}
.box-2:hover{
    /* box shadow offest-x offset-y blur radius color */

    box-shadow: 5px 7px 30px 5px rgb(243, 240, 216);
    /* width: 26%; */
    /* height: 552px; */
    /* border-radius: 20px; */
    /* width: 356px; */
    border: 2px solid rgb(223, 133, 60);



}
.box-2 img{
    /* margin: 0px -30px; */
    width: 100%;
    height: 308px;
}


.box-2 h2{
    font-weight:lighter;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    margin-left: -20px;
    /* text-decoration: underline; */

    padding-bottom: 0px;
    cursor: pointer;
}
#bottem{
    height: 50px;
    /* width: 100%; */
    background-color: antiquewhite;
    margin-top: 50px;
}
#bottem p{
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    margin-top: 8px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color:#242321;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity:0;
  }
  
  .box-1:hover .overlay {
    bottom: 0;
    height: 100%;
    opacity: 0.8;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    /* font-weight: bold; */
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


  /* #contact{
    height: 1200px;
} */

.heading h1{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 100px;
    display: inline-block;
    color: #ffbc3b;
}.heading h2{
    font-size: 30px;
    margin-left:10px;
    margin-top: 100px;
    display: inline-block;
    font-weight: bold;
    font-family: cursive;
    /* color: #ffbc3b; */
}
.heading{
    /* background-color: #22bac1; */
    height: 300px;
}

.heading::before{
    content: "";
    background:url('pexels-visual-tag-mx-2566581.jpg') no-repeat center center/cover;
    position: absolute;
    height:55%;
    width:100%;
    z-index:-1;
    opacity:.3;
    top: 0;
    left: 0;
    
}



.con h1{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 40px;
    font-weight: bold;
    font-family: cursive;
}

.form-page input,.form-page textarea{
    display: block;
    font-size: 20px;
    width: 650px;
    margin-left:40px ;
    margin-top: 40px;
    padding: 10px;
    resize: vertical;
    border-radius: 5px;

}


#btn-1{
    width: 130px;
    font-size: 15px;
    padding: 15px 10px;
    background-color:#ffbc3b ;
}
#btn-1:hover{
    border-top:4px solid rgb(247, 112, 22);
    border-bottom:4px solid rgb(247, 112, 22);
    transition: .2s ease-in-out;
    background-color: cornsilk;
}

#bottem1{
    height: 50px;
    background-color: antiquewhite;
    margin-top: 100px;
}
#bottem1 p{
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    margin-top: 14px;
}